#flashy{
    background-image: url("../images/landing.jpg");
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}
#race {
  padding-top: 38px;
}
#rec {
  background-color: orangered;
  padding-top: 38px;

}
#same {
  background-image: url("../images/breakfast.jpg");
  height: 210px;
}
#muturi {
  background-image: url("../images/lunch.jpg");
  height: 210px;
}
#dad {
  background-image: url("../images/dinner2.jpg");
  height: 210px;
}
#sare {
  background-image: url("../images/subscribe.jpg");
  text-align: center;
  color: white;
}
#rose {
  background-image: url("../images/foodsBg.jpg");
  color: white;
}
#zax {
  text-align: center;

}
#collo {
  background-color: orangered;
  text-align: center;
}
